nav{
    position: relative;
    height:5.5rem;
    width: 100%;
    background: #263238;
    /* position: fixed; */
}


.date{
    /* border: 2px; */
    position: absolute;
    right: 250px;
}

.profile-logo{
    position: absolute;
    right: 20px;
    padding: 20px;
}