<div class="upper">

    <div class="bo">
        <div class="card">          
            <div class="card-header">
              <span>Total Orders</span>
            </div>
            <!-- <span class="temp">{{count}}</span> -->
            <span class="temp">{{count}}</span>
           
          </div>
    </div>

    <div class="bo ">
        <div class="card">

          
            <div class="card-header">
              <span>Waiting to Deliver</span>
            </div>
          
            <span class="temp">{{waiting}}</span>
          
          
          </div>
    </div>

    <div class="bo">
        <div class="card">    
            <div class="card-header">
              <span>Deliverd Orders</span>
            </div>
            <span class="temp">{{deliverd}}</span>
          </div>
    </div>

    
    <div class="bo">
      <div class="new">
        <div class="card">
          <div class="card-header">
            <span>Total Outstand</span>
          </div>       
          <span class="temp ms-3">Rs.{{tot}}</span>
        </div>
      </div>  
    </div>    
</div>