<div class="row">
  <div class="upper">

    <div class="bo">
        <div class="card">          
            <div class="card-header">
              <span>Total Orders</span>
            </div>
            <!-- <span class="temp">{{count}}</span> -->
            <span class="temp">{{countRows}}</span>
           
          </div>
    </div>

    <div class="bo ">
        <div class="card">

          
            <div class="card-header">
              <span>Requested Orders</span>
            </div>
          
            <span class="temp">{{countRows1}}</span>
          
          
          </div>
    </div>

    <div class="bo">
        <div class="card">    
            <div class="card-header">
              <span>Total Outstand</span>
            </div>
            <span class="temp ms-3">Rs.{{tot}}</span>
          </div>
    </div>   
</div>
</div>


<div class="row">

  <div class="img1">
    <img src="assets/imgs/home.jpg" alt="">
  </div>
  
</div>

