<body>
    <div class="wrapper">
        <div class="container">
            <div class="registration-form">
                <h2 class="text-white">Reset Password</h2>
                    <form [formGroup]="userForm" *ngIf="!showAdditionalInput && !showVerify">
                        <div class="form-group">
                          <label for="username">Username</label>
                          <input type="text" id="username" class="form-control" formControlName="userName">
                          <!-- <small *ngIf="registerForm.controls['userName'].dirty && registerForm.hasError('required', 'userName')" class="text-danger"> -->
                            <!-- *User name is required -->
                          <!-- </small> -->
                        </div>
                    </form>

                   
                        <form [formGroup]="passwordForm" *ngIf="showAdditionalInput && !showVerify">
                        
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input formControlName="userPassword" type="password" class="form-control" id="password" required>
                                <small *ngIf="passwordForm.controls['userPassword'].dirty && passwordForm.hasError('required', 'userPassword')" class="text-danger">*Password is Reqired</small>
                            </div>
                        
                        
                            <div class="form-group">
                                <label for="confirmPassword">Confirm Password</label>
                                <input formControlName="cPassword" type="password" class="form-control" id="confirmPassword" required>
                                <small *ngIf="passwordForm.controls['cPassword'].dirty && passwordForm.hasError('required', 'cPassword')" class="text-danger">*Confirm Password is Reqired</small>
                            </div>
                        
                        </form>
                        <div class="inputs">
                        <form [formGroup]="verify" *ngIf="showVerify && !showAdditionalInput">
                               
                                    <div class="info">
                                        <span class="title">OTP Verification</span>
                                      <p class="description">Please enter the code we have sent you. </p>
                                         </div>
                                      <div class="inputs">
                                      <input formControlName="one" type="tel" maxlength="1">
                                      <input formControlName="two" type="tel" maxlength="1">
                                      <input formControlName="three" type="tel" maxlength="1">
                                      <input formControlName="four" type="tel" maxlength="1">
                                    </div>
                               
                               
                        </form> </div>
                   
                    <div class="row m-3" *ngIf="!showVerify && !showAdditionalInput">
                        <button type="submit" class="btn bg-success fw-bold text-white" (click)="onSubmit()">Next</button>
                    </div>
                    <div class="row m-3" *ngIf="showAdditionalInput && !showVerify">
                        <button type="submit" class="btn bg-success fw-bold text-white mt-4" (click)="onVerify()">Send Code</button>
                    </div>
                    <div class="row m-3" *ngIf="showVerify && !showAdditionalInput">
                        <button type="submit" class="btn bg-success fw-bold text-white mt-4" (click)="onUpdate()">Update</button>
                    </div>
                    <!-- <button type="submit" class="btn bg-white" (click)="onSubmit()">Register</button> -->
                
                
            </div>
        </div>
    </div>
   
</body>
