<body>
    <div class="content">
        <!-- <div mat-dialog-title class="title"> -->
            <h1>Requested Order Details
            <!-- <img src="/assets/imgs/place_order1.png" alt=""> -->
            <span>
                <div class="three-body">
                    <div class="three-body__dot"></div>
                    <div class="three-body__dot"></div>
                    <div class="three-body__dot"></div>
                    </div>
            </span>
        </h1>
        <!-- </div> -->
    
        <table >
            <tr>
                <th>Request ID:</th>
                <td>{{data.id}}</td>
            </tr>
    
            <tr>
                <th>Company Name:</th>
                <td>{{data.companyName}}</td>
            </tr>
    
            <tr>
                <th>Reply Date Before:</th>
                <td>{{data.date}}</td>
            </tr>
<!--     
            <tr>
                <td>Items</td>
                <td *ngFor="let x of itemz">{{x}}</td>
            </tr>
            <tr>
                <td>Quantity</td>
                <td *ngFor="let x of qtyz">{{x}}</td>
            </tr> -->
        </table>


        <table class="styled-table">
            <tr>
                <th>#</th>
                <th>Items</th>
                <th>Quantity</th>
                <!-- <td *ngFor="let x of itemz">{{x}}</td> -->
            </tr>
            <tbody class="table-group-divider">
                <tr *ngFor="let x of itemz; let y =index">
                    <td >{{y+1}}</td>
                    <td>{{x}}</td>
                    <td >{{qtyz[y]}}</td>
                </tr>
            </tbody>
            
        </table>

        <!-- <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
        
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Items </th>
                <td *ngFor="let x of itemz">{{x}}</td>
              </ng-container>
        
              <ng-container matColumnDef="qty">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
                <td mat-cell *ngFor="let x of qtyz"> {{x}} </td>
              </ng-container> 
        
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
           
          </div>
        
        <div mat-dialog-actions class="action">
            <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        </div> -->


        <div mat-dialog-actions class="action">
            <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        
        </div>
    </div>
</body>






