.topic {
   position:absolute;
   margin: 0;
   color: black;
   font-size: 18px;
   text-decoration: solid;
   font-weight: 1000;

}

.id{
    border: 3px;
    border-width: 30px;
    /* background-color: aqua; */
    position: sticky;
    /* margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 0; */
    align-items: end;
}
ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.card .card-header li img{
    height: 3rem;
    width: 3rem;
    margin-left: 1rem;
    padding: 1px;
    align-items: end;
}

.card span{
  color: white;
}

.card .card-header li img:hover{
 cursor: pointer;
 opacity: 0.7;
}

.card .card-header .upper  .img{
    height: 3rem;
    width: 3rem;
}
.card-body{
  height: 700px;
}
.required-field::before {
    content: "*";
    color: red;
  }

  .reqBut{
    margin-top: 5px;
    margin-bottom: 0px;
  }

  .request{
    text-decoration: none;
    text-shadow: 2px;
    font-size: 15px;
    color: black;
  }

  input.ng-invalid{
    border-left: 5px solid red;
  }

  .card .card-header{
    background-color: #294b5a;
    border-radius: 10px;
  }

  .qty{
    /* margin-left:20px ; */
    width: 70px;
  }

  .sub{
    margin-left: 200px;
    margin-top: 0px;
    margin-bottom: 20px;
    /* margin-right: 50px; */
    width: 200px;
  }

  .form-select{
    width: 458px;
  }

  .img1{
    width: 100%;
    height: 100%;
  }

  img{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 350px;
  }

  .date{
    width: 458px;
  }

